{% extends "base.html" %}
{% block content %}
    <div id="page-wrapper">

        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">系统设置</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        邀请码管理
                        <div class="col-lg-1" style="float: right;margin-right: 15px;">
                            <form style="float:left;" role="form" action="/generate/inv_code" method="post">
                                <button type="submit" class="btn btn-outline btn-success btn-xs">生成邀请码</button>
                            </form>
                        </div>
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="col-lg-12">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>邀请码</th>
                                    <th>链接</th>

                                </tr>
                                </thead>
                                <tbody>
                                {% for code in inv_codes %}

                                    <tr>
                                        <td>{{ loop.index }}</td>
                                        <td>{{ code.decode('utf-8')|e }}</td>

                                        <td>
                                            {{ request.url_root }}register?inv_code={{ code.decode('utf-8')|e }}
                                        </td>
                                    </tr>

                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                        <!-- /.table-responsive -->
                        </div>
                    </div>
                    <!-- /.panel-body -->
                </div>

            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        账号管理
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>用户名</th>
                                    <th>邮箱</th>
                                    <th>创建时间</th>
                                    <th>管理权限</th>
                                    <th>刷新时间</th>
                                    <th>启用</th>
                                    <th>最大账户</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for row in users %}

                                    <tr>
                                        <td>{{ loop.index }}</td>
                                        <td>{{ row.username|e }}</td>
                                        <td>{{ row.email|e }}</td>
                                        <td>{{ row.created_time|e }}</td>
                                        <td>
                                            {% if row.is_admin  %}
                                                O
                                            {% else %}
                                                X
                                            {% endif %}
                                        </td>
                                        <td>{{ row.refresh_interval|e }}</td>
                                        <td>
                                            {% if row.active  %}
                                                O
                                            {% else %}
                                                X
                                            {% endif %}
                                        </td>
                                        <td>{{ row.max_account_no|e }}</td>
                                        <td>
                                            <div style="display: inline-block">
                                                <a href="/admin_user/{{ row.username|e }}" class="btn btn-outline btn-default btn-xs">编辑</a>
                                            </div>
                                            <form style="display: inline-block" role="form" action="/admin/login_as/{{ row.username|e }}" method="post">
                                                <button type="submit" class="btn btn-default btn-xs">登陆</button>
                                            </form>
                                        </td>
                                    </tr>

                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.panel-body -->
                </div>

            </div>
            <!-- /.col-lg-12 -->
        </div>
    </div>
    <!-- /#page-wrapper -->
{% endblock %}