{% extends "base.html" %}
{% block content %}

    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <i class="fa fa-bar-chart-o fa-fw"></i> 矿机速度

                </div>
                <!-- /.panel-heading -->
                <div class="ibox-content">
                    <div id="speed-stat-chart"></div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->

        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <i class="fa fa-bar-chart-o fa-fw"></i> 历史产量

                </div>
                <!-- /.panel-heading -->
                <div class="ibox-content">
                    <div id="last-30-day-chart"></div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->

        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
{% endblock %}

{% block js_logic %}
    <script src="../static/js/highcharts.js"></script>
    <script>
        Highcharts.setOptions({
            global: {
                useUTC: false
            }
        });
        $.getJSON('/analyzer/speed_stat_chart',function(data){
            $('#speed-stat-chart').highcharts({
                chart: {
                    type: 'areaspline'

                },
                title: {
                    text: '',
                    x: -20 //center
                },
                credits: {
                    enabled: false
                },
                yAxis: {
                    title: {
                        text: 'Speed (KByte/s)'
                    },min: 0,
                    plotLines: [{
                        value: 0,
                        width: 1,
                        color: '#808080'
                    }]
                },
                tooltip: {
                    shared: true,
                    valueSuffix: ' KBytes/s'
                },
                plotOptions: {
                    areaspline: {
                        stacking: 'normal',
                        lineColor: '#666666',
                        lineWidth: 1,
                        marker: {
                            lineWidth: 1,
                            lineColor: '#666666',
                            enabled: false
                        }
                    }
                },

                xAxis: {
                    categories: data.category
                },
                series: data.value
            });
        });
        $.getJSON('/analyzer/last_30_day',function(data){
            $('#last-30-day-chart').highcharts({
                chart: {
                    type: 'column',
                    zoomType: 'x'
                },
                title: {
                    text: '',
                    x: -20 //center
                },
                legend: {
                    enabled:false
                },
                credits: {
                    enabled: false
                },
                yAxis: [{
                    title: {
                        text: '产量'
                    }
                }],
                xAxis: {
                    type: 'datetime'
                },
                series: [{
                    name: '水晶产量',
                    data: data.value
                }]
            });
        });


    </script>
{% endblock %}


{% block navibar %}
    <div class="col-lg-10">
        <h2>数据分析</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/">Home</a>
            </li>
            <li class="active">
                <strong>Analyzer</strong>
            </li>
        </ol>
    </div>
{% endblock %}
{% set active_page = "analyzer" %}