{% extends "base.html" %}
{% block content %}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header" style="display: inline-block;width:100%">
                    监控中心
                </h1>

            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        实时数据
                        <span style="display: inline-block;float: right">账户余额: {{ today_data.balance if today_data.balance<10000 else ((today_data.balance/1000)|int/10)|string+'元' }}</span>
                    </div>
                    <div class="panel-body" style="padding-left: 0px; padding-right: 0px; padding-bottom: 0px; ">
                        <div class="col-lg-3 col-md-6">
                            <div class="panel panel-green">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <i class="fa  fa-arrow-circle-up fa-5x"></i>
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            <div class="huge">{{ today_data.last_speed if today_data.last_speed<1024 else (today_data.last_speed/1024*100)|int/100 }}</div>
                                            <div>上传速度 {% if today_data.last_speed<1024 %}K{% else %}M{% endif %}Byte/s</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <i class="fa fa-rmb fa-5x"></i>
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            <div class="huge">{{ today_data.pdc }}</div>
                                            <div>今日产量</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="panel panel-yellow">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-12 text-right">
                                            <div class="huge">{{ today_data.w_pdc if today_data.w_pdc<10000 else ((today_data.w_pdc/1000)|int/10)|string+'元' }}</div>
                                            <div>本周产量</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="panel panel-red">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-12 text-right">
                                            <div class="huge">{{ today_data.m_pdc if today_data.m_pdc<10000 else ((today_data.m_pdc/1000)|int/10)|string+'元' }}</div>
                                            <div>本月产量</div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-bar-chart-o fa-fw"></i> 最近7日产量

                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div id="seven-day-chart" style="height: 250px;"></div>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->


                <!-- /.panel -->
            </div>
            <!-- /.col-lg-8 -->

            <!-- /.col-lg-4 -->
        </div>
        <!-- /.row -->
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-bar-chart-o fa-fw"></i> 矿机速度

                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div id="speed-stat-chart"></div>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->

            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-bar-chart-o fa-fw"></i> 最近7日速度

                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div id="speed-comparison"></div>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->

            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->

{% endblock %}

{% block js_logic %}
    <script>
        $('#seven-day-chart').highcharts({
            chart: {
                type: 'spline'

            },
            title: {
                text: '',
                x: -20 //center
            },
            legend: {
                enabled:false
            },
            credits: {
                enabled: false
            },
            yAxis: [{
                title: {
                    text: '产量'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },{ // Secondary yAxis
                title: {
                    text: '平均速度 KBytes/s',
                    style: {
                        color: Highcharts.getOptions().colors[0]
                    }
                },
                labels: {
                    format: '{value}',
                    style: {
                        color: Highcharts.getOptions().colors[0]
                    }
                },
                opposite: true
            }
            ],
            tooltip: {
                shared: true,
                valueSuffix: ''
            },

            xAxis: {
                categories: {{ today_data.seven_days_chart.category | safe }}
            },
            series: {{ today_data.seven_days_chart.value | safe }}
        });


        $('#speed-stat-chart').highcharts({
            chart: {
                type: 'areaspline'

            },
            title: {
                text: '',
                x: -20 //center
            },
            credits: {
                enabled: false
            },
            yAxis: {
                title: {
                    text: 'Speed (KByte/s)'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                shared: true,
                valueSuffix: ' KBytes/s'
            },
            plotOptions: {
                areaspline: {
                    stacking: 'normal',
                    lineColor: '#666666',
                    lineWidth: 1,
                    marker: {
                        lineWidth: 1,
                        lineColor: '#666666'
                    }
                }
            },

            xAxis: {
                categories: {{ today_data.speed_stat_chart.category | safe }}
            },
            series: {{ today_data.speed_stat_chart.value | safe }}
        });

        $('#speed-comparison').highcharts({
            chart: {
                type: 'spline'

            },
            title: {
                text: '',
                x: -20 //center
            },
            credits: {
                enabled: false
            },
            yAxis: {
                title: {
                    text: 'Speed (KByte/s)'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                shared: true,
                valueSuffix: ' KByte/s'
            },
            plotOptions: {
                spline: {
                    lineWidth: 1,
                    marker: {
                        lineWidth: 1
                    }
                }
            },

            xAxis: {
                categories: {{ speed_comparison_data.category | safe }}
            },
            series: {{ speed_comparison_data.value | safe }}
        });

    </script>
{% endblock %}