{% extends "base.html" %}
{% block content %}

        <div class="row">

                        <div class="col-lg-3 col-md-6">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <span class="label label-success pull-right" style="padding-top: 5px;">实时</span>
                                    <h5>上传速度</h5>
                                </div>
                                <div class="ibox-content">

                                    <div class="row">
                                        <div class="col-xs-3">
                                            <i class="fa fa-arrow-circle-up fa-4x"></i>
                                        </div>
                                        <div class="col-xs-9 text-right" style="padding-left: 5px;">
                                            <h1 class="no-margins" style=" font-weight: bold;" id="live_speed"></h1>
                                            <small style=" font-weight: bold;"><span id="speed_unit"></span>Byte/s</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <span class="label label-info pull-right" style="padding-top: 5px;">今日</span>
                                    <h5>水晶产量</h5>
                                </div>
                                <div class="ibox-content">

                                    <div class="row">
                                        <div class="col-xs-3">
                                            <i class="fa fa-rmb fa-4x"></i>
                                        </div>
                                        <div class="col-xs-9 text-right" style="padding-left: 5px;">
                                            <h1 style="font-size: 44px; font-weight: bold;" class="no-margins" id="pdc"></h1>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <span class="label label-primary pull-right" style="padding-top: 5px;">本周</span>
                                    <h5>水晶产量</h5>
                                </div>
                                <div class="ibox-content" style="height: 88px;">

                                    <div class="row">
                                        <div class="col-xs-12 text-right" style="padding-left: 5px;">
                                            <h1 style="font-size: 44px; font-weight: bold;" class="no-margins" id="w_pdc"></h1>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <span class="label label-danger pull-right" style="padding-top: 5px;">本月</span>
                                    <h5>水晶产量</h5>
                                </div>
                                <div class="ibox-content" style="height: 88px;">

                                    <div class="row">
                                        <div class="col-xs-12 text-right" style="padding-left: 5px;">
                                            <h1 style="font-size: 44px; font-weight: bold;" class="no-margins" id="m_pdc"></h1>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


        <!-- /.row -->
    <div class="row">
        <div class="col-lg-8">
            <div class="ibox float-e-margins">
                <!-- /.panel-heading -->
                <div class="ibox-content">
                    <div>
                        <span class="pull-right text-right">
                            <small>所有账号合计
                                <strong></strong></small>
                            <br>

                        </span>
                        <h3 class="font-bold no-margins">
                            实时速度
                        </h3>
                        <small></small>
                    </div>
                    <div id="real_time_speed" style="height: 200px;"></div>
                </div>
                <!-- /.panel-body -->
            </div>
        </div>
        <!-- /.col-lg-9 -->
        <div class="col-lg-4">
            <div class="ibox float-e-margins">
                <!-- /.panel-heading -->
                <div class="ibox-content">
                    <div>
                        <span class="pull-right text-right">
                            <small>
                                <strong></strong></small>
                            <br>

                        </span>
                        <h3 class="font-bold no-margins">
                            矿机速度
                        </h3>
                        <small></small>
                    </div>
                    <div id="speed-share" style="height: 200px;"></div>
                </div>
                <!-- /.panel-body -->
            </div>
        </div>
        <!-- /.col-lg-4 -->
    </div>
        <!-- /.row -->

        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <i class="fa fa-bar-chart-o fa-fw"></i> 最近7日产量
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <!-- /.panel-heading -->
                    <div class="ibox-content">
                        <div id="seven-day-chart" style="height: 250px;"></div>
                    </div>
                    <!-- /.panel-body -->
                </div>
            </div>
            <!-- /.col-lg-8 -->

            <!-- /.col-lg-4 -->
        </div>
        <!-- /.row -->

        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <i class="fa fa-bar-chart-o fa-fw"></i> 最近7日速度
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <!-- /.panel-heading -->
                    <div class="ibox-content">
                        <div id="speed-comparison"></div>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->

            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->

{% endblock %}

{% block js_logic %}
    <script src="../static/js/plugins/highcharts/highcharts.js"></script>
    <script>
        Highcharts.setOptions({
            global: {
                useUTC: false
            }
        });

        var load_speed_share = function(){
            $.getJSON('/dashboard/speed_share',function(r_data) {

                var colors = Highcharts.getOptions().colors,
                        data = r_data.data,
                        browserData = [],
                        versionsData = [];



                // Build the data arrays
                for (var i = 0; i < data.length; i += 1) {
                    browserData.push({
                        name: data[i].name,
                        y: data[i].value,
                        color: colors[i]
                    });

                    for (var j = 0; j < data[i].drilldown_data.length; j += 1) {
                        var brightness = 0.2 - (j / data[i].drilldown_data.length) / 5;
                        versionsData.push({
                            name: data[i].drilldown_data[j].name,
                            y: data[i].drilldown_data[j].value,
                            color: Highcharts.Color(colors[i]).brighten(brightness).get()
                        });
                    }
                }

                $('#speed-share').highcharts({
                    chart: {
                        type: 'pie'
                    },
                    title: {
                        text: ''
                    },
                    yAxis: {
                        title: {
                            text: 'Total percent market share'
                        }
                    },
                    plotOptions: {
                        pie: {
                            shadow: false,
                            center: ['50%', '50%'],
                            dataLabels: {
                                enabled: false
                            },
                            animation: false
                        }
                    },
                    credits: {
                        enabled: false
                    },
                    tooltip: {
                        valueSuffix: ' KB/s'
                    },
                    series: [{
                        name: '上传速度',
                        data: browserData,
                        size: '60%'
                    }, {
                        name: '上传速度',
                        data: versionsData,
                        size: '100%',
                        innerSize: '55%'
                    }]
                });
            });
        }
        $.getJSON('/analyzer/seven_days_chart',function(data) {
            $('#seven-day-chart').highcharts({
                chart: {

                },
                title: {
                    text: '',
                    x: -20 //center
                },
                legend: {
                    enabled:false
                },
                credits: {
                    enabled: false
                },
                yAxis: [{ // Secondary yAxis
                    title: {
                        text: '平均速度 KBytes/s'
                    },min: 0,
                    labels: {
                        format: '{value}'
                    },
                    opposite: true
                },{
                    title: {
                        text: '产量'
                    },
                    plotLines: [{
                        value: 0,
                        width: 1
                    }]
                }],
                tooltip: {
                    shared: true,
                    valueSuffix: ''
                },

                xAxis: {
                    categories: data.category
                },
                series: data.series
            });
        });
        $.getJSON('/analyzer/speed_comparison',function(data) {
            $('#speed-comparison').highcharts({
                chart: {
                    type: 'spline'

                },
                title: {
                    text: '',
                    x: -20 //center
                },
                credits: {
                    enabled: false
                },
                yAxis: {
                    title: {
                        text: 'Speed (KByte/s)'
                    }, min: 0,
                    plotLines: [{
                        value: 0,
                        width: 1,
                        color: '#808080'
                    }]
                },
                tooltip: {
                    shared: true,
                    valueSuffix: ' KByte/s'
                },
                plotOptions: {
                    spline: {
                        lineWidth: 1,
                        marker: {
                            lineWidth: 1,
                            enabled: false
                        }
                    }
                },

                xAxis: {
                    categories: data.category
                },
                series: data.value
            });
        });

        $('#real_time_speed').highcharts({
            chart: {
                type: 'spline',
                animation: Highcharts.svg, // don't animate in old IE
                marginRight: 10

            },credits: {
                    enabled: false
                },
                title: {
                    text: '',
                    x: -20 //center
                },
            xAxis: {
                type: 'datetime',
                tickPixelInterval: 150
            },
            yAxis: {
                title: {
                    text: 'Speed (KByte/s)'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                formatter: function () {
                    return Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', this.x) + '<br/>' +
                        Highcharts.numberFormat(this.y, 0)+' KByte/s';
                }
            },
            legend: {
                enabled: false
            },
            exporting: {
                enabled: false
            },
            series: [{
                name: 'speed',
                data: (function () {
                    // generate an array of random data
                    var data = [],
                        time = (new Date()).getTime(),
                        i;

                    for (i = -24; i <= 0; i += 1) {
                        data.push({
                            x: time + i * 5000,
                            y: null
                        });
                    }
                    return data;
                }())
            }]
        });


        function convert_to_yuan(crystal_values) {
            if (crystal_values >= 10000) {
                return parseInt(crystal_values / 1000) / 10 + '元';
            }
            return crystal_values;
        }
        function convert_speed(speed) {
            if (speed >= 1024) {
                return parseInt(speed / 1024*100) / 100;
            }
            return speed;
        }

        var flash_element = function(jquery_obj){
            jquery_obj.css('margin','0');
            jquery_obj.addClass('animated');
            jquery_obj.addClass('flash');
            setTimeout(function() {
                jquery_obj.removeAttr('class').attr('class', '');
            }, 2000)
        }
        var reload_data = function(){
            load_speed_share();
            $.getJSON( "/dashboard_data", function( data ) {
                $('#real_time_speed').highcharts().series[0].addPoint([(new Date()).getTime(),data.today_data.last_speed], true, true);
                if($('#live_speed').html() != convert_speed(data.today_data.last_speed)){
                    $('#live_speed').html(convert_speed(data.today_data.last_speed));

                    if(data.today_data.last_speed > 1024){
                        $('#speed_unit').html('M')
                    }else{
                        $('#speed_unit').html('K')
                    }
                    flash_element($('#live_speed'));
                }

                if($('#pdc').html() != convert_to_yuan(data.today_data.pdc)) {
                    $('#pdc').html(convert_to_yuan(data.today_data.pdc));
                    flash_element($('#pdc'));
                }
                if($('#w_pdc').html() != convert_to_yuan(data.today_data.w_pdc)) {
                    $('#w_pdc').html(convert_to_yuan(data.today_data.w_pdc));
                    flash_element($('#w_pdc'));
                }
                if($('#m_pdc').html() != convert_to_yuan(data.today_data.m_pdc)) {
                    $('#m_pdc').html(convert_to_yuan(data.today_data.m_pdc));
                    flash_element($('#m_pdc'));
                }
            })
        }

        $(document).ready(function(){
            $('#real_time_speed').highcharts().series[0].addPoint([(new Date()).getTime(),0], true, true);
            reload_data();
            setInterval(reload_data,5000);
        });

    </script>
{% endblock %}

{% block navibar %}
    <div class="col-lg-10">
        <h2>监控中心</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/">Home</a>
            </li>
            <li class="active">
                <strong>Dashboard</strong>
            </li>
        </ol>
    </div>
{% endblock %}
{% set active_page = "dashboard" %}