{% extends "base.html" %}
{% block content %}

    <div class="row">
        {% if err_msg %}
            <div class="col-lg-12">
                <div class="alert alert-danger alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    {{ err_msg }}
                </div>
            </div>
        {% endif %}
        {% if info_msg %}
            <div class="col-lg-12">
                <div class="alert alert-info alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    {{ info_msg }}
                </div>
            </div>
        {% endif %}
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title" style="height:42px;">
                    账号信息
                </div>
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>

                                <th class="col-md-1">矿主ID</th>
                                <th class="col-md-1">赚钱宝</th>
                                <th class="col-md-1">老式矿机</th>
                                <th class="col-md-1">雇佣矿机</th>
                                <th class="col-md-1">宝箱</th>
                                <th class="col-md-1">未收取</th>
                                <th class="col-md-1">余额</th>
                                <th class="col-md-2">更新时间</th>
                                <th class="col-md-2" style="text-align: right;padding-right: 30px;">操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for row in accounts %}
                                {% if row.data is defined and row.data.mine_info.r == 0 %}
                                    <tr>
                                        <td>{{ row.data.privilege.mid |e }}</td>
                                        <td>{{ row.data.mine_info.dev_m.pdc |default('0') }}</td>
                                        <td>{{ row.data.mine_info.dev_pc.pdc |e }}</td>
                                        <td>{{ row.data.mine_info.td_cm_pdc |e }}</td>
                                        <td>{{ row.data.mine_info.td_box_pdc |e }}/{{ row.data.mine_info.td_box_pdc |e }}</td>
                                        <td>{{ row.data.mine_info.td_not_in_a |e }}</td>
                                        <td>{{ convert_to_yuan(row.data.income.r_can_use | default(0)) |e }}</td>
                                        <td>{{ row.data.updated_time| e }}</td>
                                        <td>
                                            {% if show_drawcash %}
                                                <form role="form" style="margin-left: 10px;float:right;" action="/drawcash/{{ row.user_id|e }}" method="post">
                                                    <button type="submit" class="btn btn-info btn-xs">提现</button>
                                                </form>
                                            {% endif %}
                                            <form role="form" style="float:right;" action="/collect/{{ row.user_id|e }}" method="post">
                                                <button type="submit" class="btn btn-info btn-xs">收取</button>
                                            </form>
                                        </td>
                                    </tr>
                                {% endif %}
                                <!-- /.row -->
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title" style="height:42px;">
                    设备信息
                </div>
                <!-- /.panel-heading -->
                <div class="ibox-content">
                    {% for row in accounts %}
                        {% if row.data is defined  %}
                            <div class="table-responsive">
                                <h5 style="text-align: right">矿主ID : {{ row.data.privilege.mid |e }}</h5>
                                <table class="table table-hover">
                                    <thead>
                                    <tr>

                                        <th class="col-md-2" style="min-width: 120px;">矿机名</th>
                                        <th class="col-md-1" style="min-width: 60px;">类型</th>
                                        <th class="col-md-2" style="min-width: 120px;">上传/最快 KB/s</th>
                                        <th class="col-md-1" style="min-width: 80px;">下载 KB/s</th>
                                        <th class="col-md-1" style="min-width: 70px;">缓存 GB</th>
                                        <th class="col-md-1" style="min-width: 120px;">状态</th>
                                        <th class="col-md-1">IP</th>
                                        <th class="col-md-1" style="text-align: right;">操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                        {% for dev in row.data.device_info %}
                                                <tr>
                                                    {% if dev.red_info is defined %}
                                                    <td>{{ dev.red_info.hn|default(dev.HOST_NAME) }}</td>
                                                    {% else %}
                                                    <td>{{ dev.HOST_NAME |e }}</td>
                                                    {% endif %}
                                                    <td>{{ get_device_type(dev.PRODUCT_ID) |e }}</td>
                                                    <td>{{ (dev.CUR_UPLOAD_SPEED/1024)|int |default('') }}/{{ (dev.MAX_UPLOAD_SPEED/1024)|int }}</td>
                                                    <td>{{ (dev.CUR_DEPLOY_SPEED/1024)|int }}</td>
                                                    <td>{{ (dev.CACHE_USED_SIZE/1024/1024/1024)|int }}/{{ (dev.CACHE_UPPER_LIMIT/1024/1024/1024)|int }}</td>
                                                    <td>

                                                        {% if dev.ON_OFF_STATE == 1 %}
                                                            <span type="button" class="btn btn-info disabled btn-xs">
                                                                工作
                                                                </span>
                                                        {% elif dev.ON_OFF_STATE == 2 %}
                                                            <span type="button" class="btn btn-warning disabled btn-xs">
                                                                断网
                                                                </span>
                                                        {% endif %}
                                                        {% if dev.red_info is defined and dev.red_info.upgrade %}
                                                            <span type="button" class="btn btn-danger disabled btn-xs">
                                                                有升级
                                                                </span>
                                                        {% endif %}
                                                    </td>
                                                    <td>{{ int2ip(dev.EXTERNAL_IP) | e }}</td>
                                                    <td>
                                                        {% if dev.red_info is defined %}
                                                        <form style="float:right;" role="form" action="/reboot_device/{{ row.session_id |e }}" method="post">
                                                            <input type="hidden" name="url" value="{{ dev.red_info.url }}" />
                                                            <button type="submit" style="float: right;" class="btn btn-info btn-xs">重启</button>
                                                        </form>
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>





                            <!-- /.table-responsive -->


                        {% endif %}
                        <!-- /.row -->
                    {% endfor %}
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>

    </div>
{% endblock %}

{% block navibar %}
    <div class="col-lg-10">
        <h2>我的矿机</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/">Home</a>
            </li>
            <li class="active">
                <strong>Excavators</strong>
            </li>
        </ol>
    </div>
{% endblock %}
{% set active_page = "excavators" %}