{% extends "base.html" %}
{% block content %}
<div id="page-wrapper" style="min-height: 753px;">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">我的矿机</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>

            {% for row in accounts %}
                {% if row.privilege is defined  %}
                     <div class="row">
                        <div class="col-lg-12">
                            <div class="panel panel-default">
                                <div class="panel-heading" style="height:42px;">
                                    <div class="col-md-10">矿主ID : {{ row.privilege.mid |e }}</div>
                                    <div class="col-md-2" style="text-align: right">{{ row.nick_name |e }}</div>

                                </div>
                                <!-- /.panel-heading -->
                                <div class="panel-body">
                                    <div class="row show-grid">
                                        <div class="col-md-3" style="text-align: center">今日报告<br />{{ row.updated_time |e }}</div>
                                        <div class="col-md-2" style="text-align: center">{{ row.mine_info.td_dev_pdc |e }}<br />赚钱宝产量  </div>
                                        <div class="col-md-2" style="text-align: center">{{ row.mine_info.td_cm_pdc |e }}<br />老式矿机产量</div>
                                        <div class="col-md-2" style="text-align: center">{{ row.mine_info.cm_num |e }}<br />雇佣矿机产量</div>
                                        <div class="col-md-2" style="text-align: center">{{ row.mine_info.td_box_pdc |e }}/{{ row.mine_info.b_open |e }}<br />宝箱收益{{ row.mine_info.b_unget |e }}/{{ row.mine_info.b_miss |e }}</div>
                                        <div class="col-md-1" style="text-align: center">{{ row.mine_info.td_not_in_a |e }}<br />未收取</div>

                                    </div>
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>矿机名</th>
                                                    <th>类型</th>
                                                    <th>上传 KB/s</th>
                                                    <th>下载 KB/s</th>
                                                    <th>缓存</th>
                                                    <th>状态</th>
                                                    <th>IP</th>
                                                </tr>
                                            </thead>
                                            <tbody>





                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- /.table-responsive -->
                                </div>
                                <!-- /.panel-body -->
                            </div>
                            <!-- /.panel -->
                        </div>

                    </div>
                {% endif %}
            <!-- /.row -->
            {% endfor %}
        </div>
{% endblock %}