{% extends "base.html" %}
{% block content %}
<div id="page-wrapper" style="min-height: 753px;">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">我的矿机</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>

            {% for row in accounts %}
                {% if row.data is defined  %}
                     <div class="row">
                        <div class="col-lg-12">
                            <div class="panel panel-default">
                                <div class="panel-heading" style="height:42px;">
                                    <div class="col-md-5">矿主ID : {{ row.data.privilege.mid |e }}</div>
                                    <div class="col-md-5">
                                         <form style="float:right;" role="form" action="/collect/{{ row.user_id|e }}" method="post">
                                              <button type="submit" style="float: right;" class="btn btn-info btn-xs">收取</button>
                                         </form>

                                    </div>
                                    <div class="col-md-2" style="text-align: right">{{ row.nick_name |e }}</div>

                                </div>
                                <!-- /.panel-heading -->
                                <div class="panel-body">
                                    <div class="row show-grid">
                                        <div class="col-md-3" style="text-align: center">今日报告<br />{{ row.data.updated_time |e }}</div>
                                        <div class="col-md-2" style="text-align: center">{{ row.data.mine_info.dev_m.pdc |e }}<br />赚钱宝产量  </div>
                                        <div class="col-md-2" style="text-align: center">{{ row.data.mine_info.dev_pc.pdc |e }}<br />老式矿机产量</div>
                                        <div class="col-md-2" style="text-align: center">{{ row.data.mine_info.td_cm_pdc |e }}<br />雇佣矿机产量</div>
                                        <div class="col-md-2" style="text-align: center">{{ row.data.mine_info.td_box_pdc |e }}<br />宝箱({{ row.data.mine_info.b_unget |e }})</div>
                                        <div class="col-md-1" style="text-align: center">{{ row.data.mine_info.td_not_in_a |e }}<br />未收取</div>

                                    </div>

                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>

                                                    <th class="col-md-2">矿机名</th>
                                                    <th class="col-md-1">类型</th>
                                                    <th class="col-md-2">上传/最快 KB/s</th>
                                                    <th class="col-md-1">下载 KB/s</th>
                                                    <th class="col-md-2">缓存 GByte</th>
                                                    <th class="col-md-1">状态</th>
                                                    <th class="col-md-2">IP</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% if row.data.cm_info is defined  %}
                                                    {% for cm in row.data.cm_info.info %}
                                                        <tr>
                                                            <td>{{ cm.hn|e }}</td>
                                                            <td>PC</td>
                                                            <td>{{ (cm.ext_info.CUR_UPLOAD_SPEED/1024)|int }}/{{ (cm.ext_info.MAX_UPLOAD_SPEED/1024)|int }}</td>
                                                            <td>{{ (cm.ext_info.CUR_DEPLOY_SPEED/1024)|int }}</td>
                                                            <td>{{ (cm.ext_info.CACHE_USED_SIZE/1024/1024/1024)|int }}/{{ (cm.ext_info.CACHE_UPPER_LIMIT/1024/1024/1024)|int }}</td>
                                                            <td>{{ cm.ext_info.ON_OFF_STATE|e }}</td>
                                                            <td>{{ cm.ip|e }}</td>
                                                        </tr>

                                                    {% endfor %}
                                                {% endif %}
                                                {% if row.data.dev_info is defined  %}
                                                    {% for dev in row.data.dev_info.info %}
                                                        <tr>
                                                            <td>{{ dev.hn|e }}</td>
                                                            <td>赚钱宝</td>
                                                            <td>{{ (dev.ext_info.CUR_UPLOAD_SPEED/1024)|int }}/{{ (dev.ext_info.MAX_UPLOAD_SPEED/1024)|int }}</td>
                                                            <td>{{ (dev.ext_info.CUR_DEPLOY_SPEED/1024)|int }}</td>
                                                            <td>{{ (dev.ext_info.CACHE_USED_SIZE/1024/1024/1024)|int }}/{{ (dev.ext_info.CACHE_UPPER_LIMIT/1024/1024/1024)|int }}</td>
                                                            <td>{{ dev.ext_info.ON_OFF_STATE|e }}</td>
                                                            <td>{{ dev.ip|e }}</td>
                                                        </tr>

                                                    {% endfor %}
                                                {% endif %}
                                            </tbody>
                                        </table>
                                    </div>





                                    <!-- /.table-responsive -->
                                </div>
                                <!-- /.panel-body -->
                            </div>
                            <!-- /.panel -->
                        </div>

                    </div>
                {% endif %}
            <!-- /.row -->
            {% endfor %}
        </div>
{% endblock %}