<!DOCTYPE html>
<html lang='en'>
<head>
<meta charset='utf-8'>
<meta content='IE=edge' http-equiv='X-UA-Compatible'>
<meta content='GitLab Community Edition' name='description'>
<title>Sign in | GitLab</title>
<link href="/assets/favicon-68611b5ca232579b591e0b6a832fd568.ico" rel="shortcut icon" type="image/vnd.microsoft.icon" />
<link href="{{ url_for('static', filename='application-870b34942b07d3ac1008a8feb3eae9b1.css') }}" media="all" rel="stylesheet" />
<link href="{{ url_for('static', filename='print-e6cd245751e4e7e8bdfd97cdf2e8cf36.css') }}" media="print" rel="stylesheet" />
<script src="{{ url_for('static', filename='application-1b53984acd2f81ab74968b4b362a0583.css') }}"></script>

<script type="text/javascript">
//<![CDATA[
window.gon={};gon.default_issues_tracker="gitlab";gon.api_version="v3";gon.relative_url_root="";gon.default_avatar_url="https://git.airl.us/assets/no_avatar-b04e3c91a2586395b6e7e9df2672fb64.png";gon.max_file_size=10;
//]]>
</script>
<meta content='width=device-width, initial-scale=1, maximum-scale=1' name='viewport'>
<meta content='#474D57' name='theme-color'>




</head>

<body class='ui_mars login-page application'>
<header class='navbar navbar-fixed-top navbar-empty'>
<div class='container'>
<div class='center-logo'>
<img alt="Logo white" height="32" src="/assets/logo-white-8741ca66242e138fc2e3efead1e2d7c3.png" width="32" />
</div>
</div>
</header>


<div class='container navless-container'>
<div class='content'>
<div class='flash-container'>
<div class='flash-alert'>
You need to sign in before continuing.
</div>
</div>

<div class='row prepend-top-20'>
<div class='col-sm-5 pull-right'>
<div>
<div class='login-box'>
<div class='login-heading'>
<h3>Sign in</h3>
</div>
<div class='login-body'>
<form accept-charset="UTF-8" action="/sign_in" class="new_user" id="new_user" method="post"><div style="display:none">
    <input name="utf8" type="hidden" value="&#x2713;" />

</div><input autofocus="autofocus" class="form-control top" id="user_login" name="username" placeholder="Username or Email" type="text" />
<input class="form-control bottom" id="user_password" name="password" placeholder="Password" type="password" />
<div class='remember-me checkbox'>

<div class='pull-right'>
<a href="/users/password/new">Forgot your password?</a>
</div>
</div>
<div>
<input class="btn btn-save" name="commit" type="submit" value="Sign in" />
</div>
</form>


</div>
</div>

</div>

</div>
<div class='col-sm-7 brand-holder pull-left'>
<h1>
GitLab Community Edition
</h1>
<h3>Open source software to collaborate on code</h3>
<p>
Manage git repositories with fine grained access controls that keep your code secure.
Perform code reviews and enhance collaboration with merge requests.
Each project can also have an issue tracker and a wiki.
</p>
</div>
</div>
</div>
</div>
<hr>
<div class='container'>
<div class='footer-links'>
<a href="/explore">Explore</a>
<a href="http://doc.gitlab.com/" rel="nofollow">Documentation</a>
<a href="https://about.gitlab.com/" rel="nofollow">About GitLab</a>
</div>
</div>
</body>
</html>

